.nav-link {
    padding: 7px 7px;
    box-shadow: 1px 1px 5px 1px #444;
    border-radius: 10px;
    text-decoration: none;
    color: #2F80ED;
    margin: 5px;
}

p{
    text-align: center
}

.background-selector {
    background-color: #2F80ED;
    margin-top: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
}

span {
    color: #333333;
}

.box-field {
    padding: 5% 5%;
    margin-top: 20%;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 1px 5px gray;
    border-radius: 15px;
}