p{
    text-align: center
}

.background-selector {
    background-color: #2F80ED;
    margin-top: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
}

span {
    color: #333333;
}

.card {
    box-shadow: 1px 1px 5px gray;
    border-radius: 15px;
}

.box-field {
    padding: 5% 5%;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 1px 5px gray;
    border-radius: 15px;
}