{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
    <div class="d-grid gap-3 col-6 mx-auto" style="margin-top:10%">
        <a role="button" class="btn btn-primary"
           href="{{ url_for('admin.create_news_page') }}">Добавить новость.
        </a>

        <a role="button" class="btn btn-primary"
           href="{{ url_for('admin.show_doctors') }}">Открыть всех врачей.
        </a>

        <a role="button" class="btn btn-primary"
           href="{{ url_for('admin.add_schedule') }}">Добавить расписание.
        </a>

        <a role="button" class="btn btn-primary"
           href="{{ url_for('admin.create_doctor') }}">Добавить работника.
        </a>
        <a role="button" class="btn btn-primary"
           href="{{ url_for('admin.clear_sch') }}">Очистить старые талоны.
        </a>
    </div>
</form>

{% endblock %}