{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="d-grid gap-3 col-6 mx-auto">
    <p>Выберите врача</p>
</div>
<form method="post">
{% for prof in profs%}
  <div class="d-grid gap-3 col-6 mx-auto">
        <a role="button" class="btn btn-primary" href="/doc_with_prof/{{prof}}">
          {{prof}}
        </a>
        <br>
  </div>
{% endfor %}
    <br>
</form>
<div class="d-grid gap-3 col-2 mx-auto">
 <a role="button" class="btn btn-primary"
           href="{{ url_for('index') }}">Назад
 </a>
</div>
{% endblock %}