{% extends "base.html" %}


{% block content %}
<p>Добавить расписание врача</p>
<form method="post" action="">
<select name="doc_choice">
    {% for opt in doctors_data %}
      <option>{{ opt }}</option>
    {% endfor %}
</select>

     {{ form.hidden_tag() }}
    {{ form.worktime_from.label}}
    {{ form.worktime_from}}
    {{ form.worktime_until.label}}
    {{ form.worktime_until}}
    {{ form.lunch_from.label}}
    {{ form.lunch_from}}
    {{ form.lunch_until.label}}
    {{ form.lunch_until}}
    {{form.timedelta.label}}
    {{form.timedelta}}
    {{form.submit}}
</form>
{% endblock %}