{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
            <div class="background-selector">
                <div class="row justify-content-center">
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card" style="width: 10rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">ЛОР</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card" style="width: 10rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Хирург</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card" style="width: 10rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Ортопед</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card" style="width: 10rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Невролог</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card" style="width: 10rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Травматолог</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card" style="width: 10rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Эндокринолог</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<br>

<div class="row justify-content-start" style="margin-left: 4%">
    <div class="col-12">
        <h4>Новости</h4>
    </div>
</div>


<div class="row justify-content-center">
    {% for nw in news %}
        <div class="col-12 col-sm-10 col-md-9 col-lg-8" style="margin-bottom: 2%">
            <div class="card">
                <div class="card-body">
                    <h4>{{ nw.title }}</h4>
                    <hr>
                    <h6>{{ nw.description }}</h6>
                    {% if nw.image != "" %}
                        <img src="data:image/png;base64,{{nw.image}}">
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
